<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/main.css">
        <link rel="shortcut icon" href="../public/css/csb.svg" type="image/x-icon">
        <title>Cadastro de Conta</title>
       
    </head>

    <body>

        <section>

            <div class="container">
                <form>

                    <div class="fase fase-1 ativo">
                        <div class="form-grupo">
                            <label for="primeiroNome">Primeiro Nome</label>
                            <input type="text" id="primeiroNome" name="primeiro-nome">
                        </div>
                        <div class="form-grupo">
                            <label for="sobrenome">Sobrenome</label>
                            <input type="text" id="sobrenome" name="sobrenome">
                        </div>
                        <div class="form-grupo">
                            <label for="usuario">Usuário</label>
                            <input type="text" id="usuario" name="usuario">
                        </div>
                        <button type="button" class="prox-pgn">Próximo</button>
                    
                    </div>
                </form>
            </div>
        </section>
    </body>

</html>