<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/main.css">
        <link rel="shortcut icon" href="../public/css/csb.svg" type="image/x-icon">
        <title>Início</title>
       
    </head>

    <body>

        <div style="border: 50px solid;">
            <button style="position: fixed;">teste</button>
        </div>

        <div class="container">
            <a href="#" class="botao-animado um">Já sou cadastrado</a>
            <a href="#" class="botao-animado dois">Criar minha conta</a>
        </div>

        
            

    </body>

</html>
