<h1>Ofertas Disponíveis</h1>

{{#each produtos}}
    Produto:{{dataValues.produto_nome}}
    Valor:{{dataValues.produto_valor}}
    Quantidade:{{dataValues.produto_quantidade}}
    Marca:{{dataValues.produto_marca}}
    <br>
{{/each}}